.repertoire-list {
    color: whitesmoke;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 20px;

    li{
        color: whitesmoke;
    }

    .loader{
      align-self: center;
    }

}
.refresh-btn  {
    margin: 16px;
    background-color: transparent;
    color: whitesmoke;
    overflow: hidden;
    border: 1px solid whitesmoke;
    border-radius: 12px;
    padding: 6px 14px;
    font-weight: bold;

    &:hover {
      
        border: 2px solid whitesmoke;
        cursor: pointer;
    }
}

.LoadingSpinner_lds-hourglass__3NTqw {
    position: relative;
    left:0px
}