.listItem-li-container{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;

    .piece-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 100%;
    }

    .list-controls-btn-delete {
        margin: 16px;
        background-color: transparent;
        color: whitesmoke;
        overflow: hidden;
        border: 1px solid whitesmoke;
        border-radius: 12px;
        padding: 6px 14px;
        font-weight: bold;

        &:hover {
          
            border: 2px solid whitesmoke;
            background-color: red;
            cursor: pointer;
        }
    }
}