.header-navigation {
    width: 30%;
}

.header-nav-ul {
    display: flex;
    justify-content: space-between;
    
    li a {
        color: whitesmoke;
        margin-left: 20px;
        :hover {
            border-bottom: 1px solid whitesmoke;
        }
    }
}