.header-navigation {
    width: 30%;
}

.header-nav-ul {
    display: flex;
    justify-content: flex-end;
    
    .user-email-nav {
        color: whitesmoke;
        font-size: 16px;
        margin-left: 20px;
    }

    li a {
        color: whitesmoke;
        margin-left: 20px;
        padding: 4px;
        &:hover {
            border-bottom: 1px solid whitesmoke;
        }
    }

    .nav-btn {
        background-color: transparent;
        color: whitesmoke;
        overflow: hidden;
        border: none;
        font-size: 14px;
        margin-left: 6px;

        &:hover {
            border-bottom: 1px solid whitesmoke;
        }
    }

  
}