.footer {
    background-image: url('../../assets/images/header-footer-background.jpg');
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}